body{
    background-color:#1f2328;
}
.Leads{
    
}
.title-div{
    width: 50px;
}
.search_btn{
    width: 300px;
}
.container{
    display: flex;
    position: relative;
    top:80px;
    gap:30%;
    left: 10%;
}
.Button{
    background-color: #157347;
}
.d-flex{
    gap:10px;
}
Table{
    margin-top:150px;
}
.container-fluid{
    width: 80%;
}
th{
    color: #fff;
}
Table td{
    color: #fff;
}